{
	"root": true,
	"parser": "@typescript-eslint/parser",
	"plugins": ["@typescript-eslint"],
	"extends": ["eslint:recommended", "plugin:@typescript-eslint/eslint-recommended", "plugin:@typescript-eslint/recommended"],
	"rules": {
		"eqeqeq": 2,
		"quotes": ["error", "double"],
		"no-mixed-spaces-and-tabs": 0,
		"no-duplicate-imports": "error"
	},
	"env": {
		"browser": true,
		"node": true
	}
}
